@use "sass:color";

$bg: #212223;
$fg: #f1f1f1;
$accent: #378DF7;
$accent-white: #ffffff;
$radius: 7px;
$bg-color-6: rgb(40, 42, 54);
$inactive-bg-color: rgb(68, 71, 90);

window.Bar {
  border: none;
  box-shadow: none;
  font-family: Dejavu Sans Mono;
  background-color: color.adjust($bg, $alpha: -0.2);
  color: $fg;
  font-size: 1.1em;

  label {
    margin: 0 8px;
  }

  .status-box {
    background-color: $bg-color-6;
    padding: 0 4px;
    margin: 0 2px;
    font-size: 16px;
  }

  .inactive {
    background-color: $inactive-bg-color;
  }

  .client-title label {
    font-weight: bold;
  }

  .nix-icon {
    font-size: 24px;
    padding: 0 2px;
    background-color: #003366;
    border-top-right-radius: 4px;
    border: none;
  }

  .workspaces {
    font-weight: bold;

    button {
      all: unset;
      background-color: transparent;

      &:hover label {
        background-color: color.adjust($fg, $alpha: -0.84);
        border-color: color.adjust($accent, $alpha: -0.8);
      }

      &:active label {
        background-color: color.adjust($fg, $alpha: -0.8)
      }
    }

    label {
      transition: 200ms;
      padding: 3px 8px;
      margin: 0px;
      border-radius: 0;
      border: 3px solid transparent;
    }

    .focused label {
      background-color: color.adjust($accent-white, $alpha: -0.84);
      border-bottom: 3px solid $accent-white;
    }
  }

  .SysTray {
    margin-right: 8px;

    button {
      padding: 0 4px;
    }
  }

  .FocusedClient {
    color: $accent;
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }

  .Battery label {
    padding-left: 0;
    margin-left: 0;
  }

  .AudioSlider {
    * {
      all: unset;
    }

    icon {
      margin-right: .6em;
    }

    & {
      margin: 0 1em;
    }

    trough {
      background-color: color.adjust($fg, $alpha: -0.8);
      border-radius: $radius;
    }

    highlight {
      background-color: $accent;
      min-height: .8em;
      border-radius: $radius;
    }

    slider {
      background-color: $fg;
      border-radius: $radius;
      min-height: 1em;
      min-width: 1em;
      margin: -.2em;
    }
  }
}
